# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [8]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactFirstName, 
contactLastName, 
phone, 
addressLine1,
creditLimit
FROM customers WHERE state = 'CA' and creditLimit > 25000;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,creditLimit
0,Susan,Nelson,4155551450,5677 Strong St.,210500.0
1,Julie,Murphy,6505555787,5557 North Pendale Street,64600.0
2,Juri,Hashimoto,6505556809,9408 Furth Circle,84600.0
3,Julie,Young,6265557265,78934 Hillside Dr.,90700.0
4,Valarie,Thompson,7605558146,361 Furth Circle,105000.0
5,Julie,Brown,6505551386,7734 Strong St.,105000.0
6,Brian,Chandler,2155554369,6047 Douglas Av.,57700.0
7,Sue,Frick,4085553659,3086 Ingle Ln.,77600.0
8,Steve,Thompson,3105553722,3675 Furth Circle,55400.0
9,Sue,Taylor,4155554312,2793 Furth Circle,60300.0

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [13]:
c.execute('''SELECT state,
AVG(creditLimit)
FROM customers
GROUP BY state;''')
df=pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  AVG(creditLimit)
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [16]:
c.execute('''SELECT c.customerName,
c.customerNumber, 
o.orderNumber,
o.status,
od.quantityOrdered
FROM customers c
JOIN orders o
ON c.customerNumber = o.customerNumber
JOIN orderdetails od
ON od.ordernumber = o.ordernumber;''')
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,Online Diecast Creations Co.,363,10100,Shipped,22
1,Online Diecast Creations Co.,363,10100,Shipped,30
2,Online Diecast Creations Co.,363,10100,Shipped,49
3,Online Diecast Creations Co.,363,10100,Shipped,50
4,"Blauer See Auto, Co.",128,10101,Shipped,25

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, return the customerName, customrerNumber, productName, productCode and total number ordered for any product a customer has bought 10 or more of cumulatively. Sort the rows in descending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [20]:
c.execute('''SELECT c.customerName,
c.customerNumber,
o.orderNumber,
o.status,
od.quantityOrdered
FROM customers c
JOIN orders o
ON c.customerNumber = o.customerNumber
JOIN orderdetails od
ON o.orderNumber = od.orderNumber
GROUP BY od.quantityOrdered
HAVING od.quantityOrdered >10
ORDER BY od.quantityOrdered DESC;''')
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,Mini Caravy,209,10405,Shipped,97
1,"Down Under Souveniers, Inc",323,10404,Shipped,90
2,Tekni Collectables Inc.,328,10401,On Hold,85
3,"Down Under Souveniers, Inc",323,10404,Shipped,77
4,The Sharp Gifts Warehouse,450,10407,On Hold,76
5,Salzburg Collectables,382,10419,Shipped,70
6,Souveniers And Things Co.,282,10420,In Process,66
7,GiftsForHim.com,357,10410,Shipped,65
8,The Sharp Gifts Warehouse,450,10407,On Hold,64
9,Tekni Collectables Inc.,328,10401,On Hold,62
10,Handji Gifts& Co,166,10409,Shipped,61
11,Souveniers And Things Co.,282,10420,In Process,60
12,Handji Gifts& Co,166,10409,Shipped,6
13,The Sharp Gifts Warehouse,450,10407,On Hold,59
14,The Sharp Gifts Warehouse,450,10400,Shipped,58
15,Kelly's Gift Shop,496,10399,Shipped,57
16,Euro+ Shopping Channel,141,10417,Disputed,56
17,La Rochelle Gifts,119,10425,In Process,55
18,Euro+ Shopping Channel,141,10424,In Process,54
19,GiftsForHim.com,357,10410,Shipped,53
20,"Extreme Desk Decorations, Ltd",412,10418,Shipped,52
21,Diecast Classics Inc.,157,10422,In Process,51
22,Euro+ Shopping Channel,141,10424,In Process,50
23,La Rochelle Gifts,119,10425,In Process,49
24,L'ordine Souveniers,386,10416,Shipped,48
25,L'ordine Souveniers,386,10416,Shipped,47
26,Euro+ Shopping Channel,141,10424,In Process,46
27,Souveniers And Things Co.,282,10420,In Process,45
28,Euro+ Shopping Channel,141,10424,In Process,44
29,Salzburg Collectables,382,10419,Shipped,43
...,...,...,...,...,...
31,La Rochelle Gifts,119,10425,In Process,41
32,Mini Gifts Distributors Ltd.,124,10421,In Process,40
33,Souveniers And Things Co.,282,10420,In Process,39
34,La Rochelle Gifts,119,10425,In Process,38
35,Souveniers And Things Co.,282,10420,In Process,37
36,Souveniers And Things Co.,282,10420,In Process,36
37,Mini Gifts Distributors Ltd.,124,10421,In Process,35
38,Salzburg Collectables,382,10419,Shipped,34
39,La Rochelle Gifts,119,10425,In Process,33
40,Salzburg Collectables,382,10419,Shipped,32
41,La Rochelle Gifts,119,10425,In Process,31
42,Euro+ Shopping Channel,141,10412,Shipped,30
43,Kelly's Gift Shop,496,10399,Shipped,29
44,La Rochelle Gifts,119,10425,In Process,28
45,"Extreme Desk Decorations, Ltd",412,10418,Shipped,27
46,Euro+ Shopping Channel,141,10424,In Process,26
47,Diecast Classics Inc.,157,10422,In Process,25
48,L'ordine Souveniers,386,10416,Shipped,24
49,L'ordine Souveniers,386,10416,Shipped,23
50,L'ordine Souveniers,386,10416,Shipped,22
51,Petit Auto,314,10423,In Process,21
52,The Sharp Gifts Warehouse,450,10400,Shipped,20
53,La Rochelle Gifts,119,10425,In Process,19
54,La Rochelle Gifts,119,10425,In Process,18
55,"Extreme Desk Decorations, Ltd",412,10418,Shipped,16
56,Souveniers And Things Co.,282,10420,In Process,15
57,The Sharp Gifts Warehouse,450,10407,On Hold,13
58,Salzburg Collectables,382,10419,Shipped,12
59,La Rochelle Gifts,119,10425,In Process,11
60,Petit Auto,314,10423,In Process,10

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!